// Website mains colors

$primary-color : #838ab6;
$secondary-color : #53e1dc;

// Website basic colors
$base-color-1 : #fafafa;

// Website fonts
$primary-font : 'Open Sans', sans-serif;

// Screen breakpoints
$small-only: "(max-width: 640px)";
$medium-only: "(min-width: 640px) and (max-width: 1024px)";
$large-only: "(min-width: 1024px) and (max-width: 1440px)";

$medium: "(max-width: 640px)";
$large: "(max-width: 1024px)";
