@import "variables";
//__helpers
@import "helpers/mixin";
//__pages
@import "pages/landing-page";
@import "pages/profil";
@import "pages/creation_atelier";
@import "pages/atelier";
@import "pages/messagerie";
@import "pages/recherche";
//__components
@import "components/search-form";
@import "components/btn";
@import "components/rating";
@import "components/header";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

*,
*:after,
*:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $primary-font;

    .map-bg {
        position: relative;

        iframe {
            width: 100%;
            height: 100vh;
        }
    }

    .landing-page,
    .profil {
        position: absolute;

        &__layout {
            position: fixed;
            overflow: auto;
            top: 0;
            left: 0;
        }
    }
}
