header {
    position: fixed;
    top: 0;
    right: 0;
    @include resp-padding(4rem, 4rem);
    width: 100%;
    @include resp-font(1.7rem);
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
    @media #{$small-only} {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    .header__logo {
        display: none;
        @media #{$small-only} {
            display: block;
            width: 4rem;
        }
    }
}
