.modal {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: transparentize($base-color-2, .3);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;

    &__connexion {
        position: relative;
        width: 16%;
        min-width: 17rem;
        background: transparentize($base-color-1, .2);
        border-radius: 10px;
        justify-content: center;
        padding: 1.5rem;
        @media #{$large-only} {
            width: 20%;
        }
        @media #{$medium-only} {
            width: 30%;
        }
        @media #{$small-only} {
            width: 30%;
            min-width: 14rem;
        }

        &--header {
            h4 {
                text-align: center;
                font-size: 1rem;
                color: $base-color-2;
                @media #{$under-small} {
                    font-size: .8rem;
                }
            }
        }

        .separation-line {
            background: $base-color-2;
            margin: 2rem auto;
        }

        &--btn {
            display: flex;
            justify-content: center;

            &-fb {
                background-color: #355c9a;
            }

            &-goo {
                background-color: #e14c35;
            }

            &-fb,
            &-goo {
                @include resp-margin(.5rem, 0rem);
                @include resp-padding(0, 1rem);
                width: 90%;
                display: flex;
                align-items: center;
                border-radius: 5px;

                img {
                    width: 2.5rem;
                    min-width: 1.5rem;
                    margin-right: 0.3rem;
                }

                h5 {
                    display: inline-block;
                    margin: 0.5rem;
                }
            }
        }

        .close-btn {
            width: 3rem;
            top: 0;
            right: 0;
        }
    }
}
