.rating-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    @include resp-margin(0.25rem, 0.25rem);

    &--full {
        @extend .rating-circle;
        background: $base-color-1;
    }

    &--empty {
        @extend .rating-circle;
        border: 2px solid $base-color-1;
    }
}
