header {
    width: 100%;
    text-align: right;
    @include resp-font(1.7rem);
    text-transform: uppercase;
    font-family: $primary-font;
    font-weight: 700;

    @media #{$small-only} {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    .header__logo {
        display: none;

        @media #{$small-only} {
            display: block;
            width: 4rem;
        }
    }
}
