.landing-page {
    font-family: $primary-font;

    &__layout {
        width: 100%;
        height: 100vh;
        background-color: transparentize($primary-color, .2);
        @include resp-padding(5rem, 5rem);
    }

    .triangle-up-left {
        width: 0;
        height: 0;
        padding-bottom: 15rem;
        padding-left: 15rem;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        @media #{$small-only} {
            display: none;
        }

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            margin-left: -500px;
            border-bottom: 500px solid transparent;
            border-left: 500px solid $secondary_color;
            @media #{$small-only} {
                display: none;
            }
        }

        .logo {
            position: absolute;
            width: 5.5rem;
            left: 1.7rem;
            top: 1.7rem;
            @media #{$small-only} {
                width: 4.5rem;
                left: 0.7rem;
                top: 0.7rem;
            }
        }
    }

    .content {
        text-align: center;
        @include resp-padding(8rem, 2rem);

        .title {
            padding: 2rem 0;

            h1 {
                color: $base-color-1;
                text-transform: uppercase;
                font-weight: 900;
                @include resp-font(6rem);
                line-height: 1;
                margin: 0;
                text-shadow: 5px 5px $primary_color;
            }
        }

        .subtitle {
            @include resp-padding(2rem, 20rem);

            h2 {
                color: $base-color-1;
                font-weight: 100;
                @include resp-font(2.3rem);
                margin: 0;
            }
        }
    }

    footer {
        @include resp-padding(1rem, 0);
    }
}
