$rayon_cercle: 80px;
$petit_ecran: '640px';
$moyen_ecran: '1040px';
$grand_ecran: '1440px';

.messagerie {
	&__layout {
		height: 100vh;
		width: 40%;
		background-image: linear-gradient(145deg, transparentize($primary-color, .2), transparentize($secondary-color, .2));
		padding: 100px;
		box-shadow: 3px 3px 50px grey;
		@media screen and(max-width: 1380px){
			padding: 50;
		}
		@media screen and(max-width: $moyen_ecran) {
			width: 100%;
			padding: 70;
		}
		@media screen and(max-width: $petit_ecran){
			padding: 50;
		}

		#croix {
			height: 4rem;
			right: 0;
			top: 0;
			position: absolute;
		}

		.en-tete__conversation {
			display: flex;
			font-size: 22;
			flex-wrap: wrap;
			@media screen and(max-width: $petit_ecran) {
				font-size: 18;
			}

			&__nb_conversation {
				flex: 1;
				text-align: center;
			}

			&__cercle {
				width: $rayon_cercle/3;
				height: $rayon_cercle/3;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				background: $secondary-color;
				text-align: center;
				display: inline-block;
				line-height: 27px;
				margin-right: 30px;
				font-size: 15;
			}
		}

		.conversation {
			margin-top: 50px;
			margin-bottom: 70px;
			text-align: justify;
			display: flex;
			align-items: center;
			@media screen and(max-width: $petit_ecran) {
				flex-direction: column;
			}

			&__photo {
				width: 5rem;
				height: 5rem;
				display: inline-block;
				position: relative;
				overflow: hidden;
				border-radius: 50%;
				margin-right: 30px;

				img {
					width: auto;
					max-height: 100%;
				}
				@media screen and(max-width: $petit_ecran) {
					margin-bottom: 20px;
				}
			}

			&__texte {}

			&__nonlu {
				width: $rayon_cercle/4;
				height: $rayon_cercle/4;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				background: $secondary-color;
				margin-right: 15px;
				display: inline-block;
				vertical-align: sub;
			}

			&__nom {
				font-weight: bold;
				margin-bottom: 20px;
			}

			&__message {
				display: flex;
				align-content: center;
				align-items: center;
				text-decoration: none;
			}
		}
	}
}
