.profil {
    &__layout {
        width: 100%;
        height: 80vh;
        background-image: linear-gradient(145deg, transparentize($primary-color, .2), transparentize($secondary-color, .2));
        box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
        padding: 4rem 6rem 0;
        overflow: visible !important;
        color: $base-color-1;
        font-family: $primary-font;
        @media #{$large} {
            height: 100vh;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 80%;
        overflow-y: auto;

        .left-part {
            width: 29%;

            &__history {
                display: flex;
                align-items: stretch;
                align-content: center;
                flex-wrap: nowrap;
                background-image: url("../images/step.svg");
                background-repeat: no-repeat;
                background-size: 0.85rem;
                background-position: 0.6rem 2.6rem;

                &--bar {
                    margin: 0 1rem;
                    width: 0.12rem;
                    height: auto;
                    background-color: $base-color-1;
                }

                &--step {
                    flex-grow: 7;
                    @include resp-padding(.5rem, 2rem);

                    .step-title {
                        @include resp-font(1.6rem);
                        margin-bottom: 0;
                    }

                    .step-date {
                        @include resp-font(1.1rem);
                        margin-top: 0;
                    }
                }

                &--step-btn {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    min-width: 0.2rem;
                    margin: 0 1rem;

                    img {
                        min-width: 1rem;
                    }
                }
            }

            &__level {
                &--logo {
                    @include resp-padding(2rem, 2rem) text-align: center;

                    & > img {
                        width: 9rem;
                        max-width: 100%;
                        height: auto;
                        display: block;
                        margin: auto;
                    }
                }
            }
        }

        .right-part {
            width: 70%;

            .commentary {
                @include resp-padding(1rem, 3rem);
                display: flex;
                align-items: center;

                &__user {
                    flex-grow: 1;
                    text-align: center;
                    @include resp-padding(0, 2rem);

                    &--picture {
                        width: 5rem;
                        height: 5rem;
                        margin: auto;
                        display: inline-block;
                        position: relative;
                        overflow: hidden;
                        border-radius: 50%;

                        img {
                            width: auto;
                            max-height: 100%;
                        }
                    }

                    &--name {
                        text-align: center;
                        text-transform: capitalize;
                        margin-top: 0.6rem;
                        margin-bottom: 0;
                        font-weight: bold;
                    }
                }

                &__content {
                    flex-grow: 9;
                    @include resp-padding(0, 4rem);

                    &--paragraph {
                        @include resp-font(1rem);
                        text-align: justify;
                    }

                    &--footer {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .commentary__content--date,
                        .commentary__content--rating {
                            display: inline-block;
                            align-self: center;
                        }

                        .commentary__content--date {
                            font-size: 0.75rem;
                            font-style: italic;
                        }

                        .commentary__content--rating {
                            min-width: 20%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            .rating-mark {
                                margin-left: 1rem;
                            }
                        }
                    }
                }

                &__limit {
                    height: 0.1rem;
                    background-color: transparentize($base-color-1, .4);
                    width: 20%;
                    margin: auto;
                }
            }
        }

        .footer {
            width: 100%;
        }

        .vertical-line {
            max-width: 0.15rem;
            width: 1%;
            align-self: center;
            height: 90%;
            background-color: transparentize($base-color-1, .6);
        }
    }

    &__footer {
        width: 100%;
        display: flex;
        position: absolute;
        bottom: 1rem;
        align-items: center;
        height: 4rem;
        @media #{$large} {
            display: none;
        }

        .footer__social {
            margin: 0 1.5rem;
            text-align: center;

            &--fb,
            &--ig,
            &--tw {
                padding: 1.5rem;

                img {
                    width: 3rem;
                }
            }
        }

        .footer__profil-picture {
            position: relative;
            width: 13rem;
            height: 13rem;
            display: inline-block;
            overflow: hidden;
            border-radius: 50%;
            bottom: -2rem;
            margin: 0 1.5rem;
            box-shadow: 0 2px 4px 10px rgba(125, 205, 211, 0.83), 0 10px 6px 9px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            img {
                width: auto;
                max-height: 100%;
                position: absolute;
                box-shadow: 0 0 0 10px lightblue, 0 0 5px 10px black;
            }
        }

        .footer__rating-average {
            display: flex;
            align-items: center;

            p {
                display: inline-block;
                margin: 0 1.5rem;
                @include resp-font(1.5rem);
            }
        }

        .footer__profil-name {
            h4 {
                text-transform: uppercase;
                font-weight: bolder;
                @include resp-font(2rem);
                margin: 0 1.5rem;
            }
        }
    }

    .close-btn {
        bottom: 0;
        right: 0;
    }
}
